<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>feeder.co</string>
	<key>Builder Version</key>
	<string>8536.26.17</string>
	<key>CFBundleDisplayName</key>
	<string>Feeder</string>
	<key>CFBundleIdentifier</key>
	<string>co.feeder.Feeder</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>7.7.5</string>
	<key>CFBundleVersion</key>
	<string>7.7.5</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<real>10485760</real>
		<key>Global Page</key>
		<string>main.html</string>
		<key>Popovers</key>
		<array>
			<dict>
				<key>Filename</key>
				<string>popup.html</string>
				<key>Height</key>
				<real>412</real>
				<key>Identifier</key>
				<string>popup</string>
				<key>Width</key>
				<real>333</real>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>feeder-toolbar-item</string>
				<key>Image</key>
				<string>icons/safari-icon.png</string>
				<key>Label</key>
				<string>Feeder</string>
				<key>Popover</key>
				<string>popup</string>
				<key>Tool Tip</key>
				<string>Feeder</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>content/content.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>The simplest way to follow your favorite sites.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://feeder.co/</string>
	<key>Update Manifest URL</key>
	<string>https://feeder.co/safari/update.plist</string>
  <key>DeveloperIdentifier</key>
  <string>5G825WGNX6</string>
</dict>
</plist>
