[user]
	name = hans
	email = hans@hahoweb.nl

[alias]
  ci = commit
  co = checkout
  st = status
  br = branch

[core]
	editor = vim
	excludesfile = /home/hans/.gitignore

[merge]
	tool = vim

[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto

[format]
        pretty = "Commit:  %C(yellow)%H%nAuthor:  %C(green)%aN <%aE>%nDate:    (%C(red)%ar%Creset) %ai%nSubject: %s%n%n%b"

[push]
	default = simple

[sendemail]
	smtpencryption = tls
	smtpserver = smtp.gmail.com
	smtpuser = hans.w.hofman@gmail.com
	smtpserverport = 587

[pull]
	rebase = false

[credential]
	helper = cache --timeout=32000
