<!DOCTYPE html>
<html>
  <head>
    <title>New Tab</title>

    <link href="css/tasks.css" media="screen" rel="stylesheet" />
  </head>

  <body id="tasks-layout">
    <script src="js/a.js"></script>
    <script src="js/application.js"></script>

    <div id="tasks-wrapper" class="container-fluid is-animated">
      <div id="queued-tasks-toggler">
        <a href="#" data-toggle="tooltip" data-placement="right" data-delay=2000 title="Focus mode. Shortcut: \"><span class='font-icon icon-play'></span><span class='font-icon-link-text sr-only'>Toggle</span></a>
      </div>

      <div id="tasks-container" class="row">
        <div id="current-tasks" class="task-list-wide col-sm-8 col-sm-push-4 task-list-primary" data-list-current="true">
          <div id="tasks-extension-header" class="tasks-extension-header" style="display: none;"></div>

          <div class="tasks-list-title">
            <h2>Up Next</h2>
          </div>

          <ol class="tasks-list">
          </ol>

          <div id="empty-tasks-message" class="empty-tasks-message">
            What task (or tasks) would you like to finish now? Drop it here.
          </div>
        </div>

        <div id="queued-tasks" class="task-list-narrow col-sm-4 task-list-secondary" data-list-current="false">
          <div class="tasks-list-header is-toggleable">
            <div class="tasks-list-title">
              <h2>For Later</h2>
              <a href="#" class="tasks-list-search-trigger is-toggler menu-icon" data-toggle="tooltip" data-placement="bottom" data-delay=2000 title="Filter tasks"><span class='font-icon icon-cog-gear'></span><span class='font-icon-link-text sr-only'>Search</span></a>
            </div>
            <div class="tasks-list-search" id="tasks-search">
              <input class="input-sm" id="search" name="search" placeholder="Example: call" type="text" />
              <a href="#" class="tasks-list-search-clear is-toggler menu-icon" data-toggle="tooltip" data-placement="bottom" data-delay=2000 title="Hide filters"><span class='font-icon icon-x'></span><span class='font-icon-link-text sr-only'>Clear</span></a>

              <form>
                <div class="task-list-filter-container">
                  <div class="task-list-filters-header">
                    <h3 class="task-list-filters-title">Show:</h3>
                    <a href="#" data-filter-type="all">All</a>
                    <a href="#" data-filter-type="none">None</a>
                  </div>
                  <ul id="task-list-filters" class="task-list-filters">
                  </ul>

                  <div class="task-list-filter-due">
                    <h4 class="task-list-filter-title">Due:</h4>
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-xs btn-default active" data-duration="0">Any</button>
                      <button type="button" class="btn btn-xs btn-default" data-duration="86400">Today</button>
                      <button type="button" class="btn btn-xs btn-default" data-duration="604800">This Week</button>
                      <button type="button" class="btn btn-xs btn-default" data-duration="2592000">This Month</button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>

          <ol class="tasks-list">
          </ol>
        </div>
      </div>

    </div>

    <script type="text/template" id="menu-template">
      <ul class="tasks-menu-task-actions">
        <li><a class="refresh menu-icon" data-toggle="tooltip" href="#" id="refresh" title="Refresh tasks"><span class='font-icon icon-refresh'></span><span class='font-icon-link-text sr-only'>Refresh</span></a></li>
        <li><a class="toggle-hidden menu-icon" data-toggle="tooltip" href="#" title="Toggle hidden tasks"><span class='font-icon icon-eye'></span><span class='font-icon-link-text sr-only'>Toggle hidden</span></a></li>
      </ul>

      <ul class="tasks-menu-list-actions">
        <li><a class="print menu-icon" data-toggle="tooltip" href="https://tacoapp.com/tasks.pdf" target="_blank" title="Print to PDF"><span class='font-icon icon-print'></span><span class='font-icon-link-text sr-only'>Print</span></a></li>
        <li><a class="email menu-icon" data-confirm="Email current tasks?" data-method="post" data-remote="true" data-toggle="tooltip" href="https://tacoapp.com/tasks/email" title="Email current tasks"><span class='font-icon icon-mail'></span><span class='font-icon-link-text sr-only'>Email</span></a></li>
      </ul>

      <ul class="tasks-menu-account-actions">
        <li><a class="settings menu-icon" data-toggle="tooltip" href="https://tacoapp.com/connectors" title="Connectors, Settings, &amp; Help"><span class='font-icon icon-wrench'></span><span class='font-icon-link-text sr-only'>Account</span></a></li>
      </ul>
    </script>

    <script type="text/template" id="search-filters">
      <% _.each(Object.keys(tags_by_authorization).sort(function(a, b) { return b['count']-a['count'] }), function(service_name) { %>
        <% authorization = tags_by_authorization[service_name] %>
        <li class="task-list-filter task-list-filter-service" id="filter-authorization-<%= authorization['id'] %>">
          <a class="task-list-filter-tags-toggler" href="#" data-toggle="collapse" data-target="#<%= authorization['icon'] %>-tags">
            <i class="font-icon icon-chevron-right" />
          </a>
          <div class="checkbox">
            <label>
              <input type="checkbox" data-filter-type="authorization" data-filter-value="<%= authorization['id'] %>" id="authorization-<%= authorization['id'] %>" <% if (authorization['checked'] === true) { %>checked<% } %>>
              <span class="connector connector-<%= authorization['icon'] %>"><%= service_name %></span>
            </label>
          </div>
          <ul id="<%= authorization['icon'] %>-tags" class="task-list-filter-tags collapse in">
            <% _.each(_.values(authorization['tags']).sort(function(a, b) { return b['count']-a['count'] }).slice(0, 13), function(tag) { %>
              <li class="task-list-filter task-list-authorization-tag">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" data-filter-type="authorization-tag" data-filter-value="<%= tag['name'] %>" id="authorization-<%= authorization['id'] %>-tag-<%= tag['hash'] %>" <% if (tag['checked'] === true) { %>checked<% } %>>
                    <%= tag['name'].substring(0, 16) %> (<%= tag['count'] %>)
                  </label>
                </div>
              </li>
            <% }); %>
          </ul>
        </li>
      <% }); %>
    </script>

    <div id="menu" class="tasks-menu">
    </div>

    <ul id="extension-links" class="extension-links">
    </ul>

    <script src="js/b.js"></script>
  </body>
</html>
